In [1657]:
import pandas as pd

In [1658]:
# 183. Customers Who Never Order

customers_data = {
    'id': [1, 2, 3, 4],
    'name': ['Joe', 'Henry', 'Sam', 'Max']
}
orders_data = {
    'id': [1, 2],
    'customerId': [3, 1]
}

customers_df = pd.DataFrame(customers_data)
orders_df = pd.DataFrame(orders_data)
customers_df
orders_df

   id  customerId
0   1           3
1   2           1

In [1659]:
df = customers_df.merge(orders_df,how='left', left_on='id',right_on='customerId')
results = df[df['customerId'].isnull()][['name']]
results.rename(columns={'name': 'Customers'})
# results

  Customers
1     Henry
3       Max

In [1660]:
data = [[1, 3, 5, '2019-08-01'], [1, 3, 6, '2019-08-02'], [2, 7, 7, '2019-08-01'], [2, 7, 6, '2019-08-02'], [4, 7, 1, '2019-07-22'], [3, 4, 4, '2019-07-21'], [3, 4, 4, '2019-07-21']]
views = pd.DataFrame(data, columns=['article_id', 'author_id', 'viewer_id', 'view_date']).astype({'article_id':'Int64', 'author_id':'Int64', 'viewer_id':'Int64', 'view_date':'datetime64[ns]'})

In [1661]:
# results = views.merge(views, how='inner',left_on='author_id', right_on='viewer_id')[['author_id_x']].drop_duplicates()
# results.rename(columns={'author_id_x':'id'},inplace=True)
# # results = results.drop_duplicates()
# results.sort_values(by='id', ascending=True)

In [1662]:
data = [[1, 'Let us Code'], [2, 'More than fifteen chars are here!']]
tweets = pd.DataFrame(data, columns=['tweet_id', 'content']).astype({'tweet_id':'Int64', 'content':'object'})
invalid_df = tweets[tweets['content'].str.len() > 15]
invalid_df[['tweet_id']]

   tweet_id
1         2

In [1663]:
# Create the DataFrame with employee data
data = {
    'employee_id': [2, 3, 7, 8, 9],
    'name': ['Meir', 'Michael', 'Addilyn', 'Juan', 'Kannon'],
    'salary': [3000, 3800, 7400, 6100, 7700]
}

employees = pd.DataFrame(data)

def calculateBonus(row):
    if row['employee_id'] % 2!=0 and not row['name'].startswith('M'):
        return row['salary']
    return 0

employees['bonus'] = employees.apply(calculateBonus,axis=1)
result = employees.sort_values(by='employee_id')[['employee_id','bonus']]
result

   employee_id  bonus
0            2      0
1            3      0
2            7   7400
3            8      0
4            9   7700

In [1664]:
# 1667. Fix Names in a Table

In [1665]:
data = {
    'user_id': [1, 2],
    'name': ['aLice', 'bOB ann']
}

users = pd.DataFrame(data)
users['name']=users['name'].str.capitalize()
users.sort_values(by='user_id')

   user_id     name
0        1    Alice
1        2  Bob ann

In [1666]:
# Patients With a Condition

In [1667]:
data = {
    'patient_id': [1, 2, 3, 4, 5],
    'patient_name': ['Daniel', 'Alice', 'Bob', 'George', 'Alain'],
    'conditions': ['YFEV COUGH', '', 'DIAB100 MYOP', 'ACNE DIAB100', 'DIAB201']
}

# Step 2: Create the DataFrame
df = pd.DataFrame(data)
filtered_df = df[df['conditions'].str.contains(r'\bDIAB1\d+\b', regex=True)]
filtered_df

   patient_id patient_name    conditions
2           3          Bob  DIAB100 MYOP
3           4       George  ACNE DIAB100

In [1668]:
# Step 1: Create the DataFrame
data = {
    'id': [1, 2, 3],
    'salary': [100, 200, 300]
}

employee_df = pd.DataFrame(data)
def getNthHighestSalary(df:pd.DataFrame,n:int)->int:
    sorted_df = df.drop_duplicates().sort_values(by='salary',ascending=True)
    if n <= len(sorted_df):
        return sorted_df.iloc[n-1]
    else:
        return None

n=2
nth_highest_salary = getNthHighestSalary(employee_df, n)
result_df = pd.DataFrame({'getNthHighestSalary({})'.format(n): [nth_highest_salary]})
result_df.to_string(index=False)

'                           getNthHighestSalary(2)\nid          2\nsalary    200\nName: 1, dtype: int64'

In [1669]:
# 176. Second Highest Salary

In [1670]:
def secondHighestSalary(employee:pd.DataFrame)->int:
    has_duplicates = employee['salary'].duplicated().any()
    if has_duplicates:
        return None
    else:
        return 0



data = {
    'id': [1, 2, 3],
    'salary': [100, 200, 300]
}

employee_df = pd.DataFrame(data)
duplicates_count = employee_df['salary'].().any()
if duplicates_count:
    print("Duplicate Salaries found")
else:
    print('fdf')
sorted_df = employee_df.sort_values(by='salary', ascending=False)
sorted_df['row_count'] = range(len(sorted_df))
sorted_df = sorted_df[sorted_df['row_count']==1][['salary']].rename(columns={'salary':'SecondHighestSalary'})
len(sorted_df)

fdf

1