In [501]:
import pandas as pd

In [502]:
# 183. Customers Who Never Order

customers_data = {
    'id': [1, 2, 3, 4],
    'name': ['Joe', 'Henry', 'Sam', 'Max']
}
orders_data = {
    'id': [1, 2],
    'customerId': [3, 1]
}

customers_df = pd.DataFrame(customers_data)
orders_df = pd.DataFrame(orders_data)
customers_df
orders_df

   id  customerId
0   1           3
1   2           1

In [503]:
df = customers_df.merge(orders_df,how='left', left_on='id',right_on='customerId')
results = df[df['customerId'].isnull()][['name']]
results.rename(columns={'name': 'Customers'})
# results

  Customers
1     Henry
3       Max

In [504]:
data = [[1, 3, 5, '2019-08-01'], [1, 3, 6, '2019-08-02'], [2, 7, 7, '2019-08-01'], [2, 7, 6, '2019-08-02'], [4, 7, 1, '2019-07-22'], [3, 4, 4, '2019-07-21'], [3, 4, 4, '2019-07-21']]
views = pd.DataFrame(data, columns=['article_id', 'author_id', 'viewer_id', 'view_date']).astype({'article_id':'Int64', 'author_id':'Int64', 'viewer_id':'Int64', 'view_date':'datetime64[ns]'})

In [505]:
# results = views.merge(views, how='inner',left_on='author_id', right_on='viewer_id')[['author_id_x']].drop_duplicates()
# results.rename(columns={'author_id_x':'id'},inplace=True)
# # results = results.drop_duplicates()
# results.sort_values(by='id', ascending=True)

In [506]:
data = [[1, 'Let us Code'], [2, 'More than fifteen chars are here!']]
tweets = pd.DataFrame(data, columns=['tweet_id', 'content']).astype({'tweet_id':'Int64', 'content':'object'})
invalid_df = tweets[tweets['content'].str.len() > 15]
invalid_df[['tweet_id']]

   tweet_id
1         2

In [507]:
# Create the DataFrame with employee data
data = {
    'employee_id': [2, 3, 7, 8, 9],
    'name': ['Meir', 'Michael', 'Addilyn', 'Juan', 'Kannon'],
    'salary': [3000, 3800, 7400, 6100, 7700]
}

employees = pd.DataFrame(data)

def calculateBonus(row):
    if row['employee_id'] % 2!=0 and not row['name'].startswith('M'):
        return row['salary']
    return 0

employees['bonus'] = employees.apply(calculateBonus,axis=1)
result = employees.sort_values(by='employee_id')[['employee_id','bonus']]
result

   employee_id  bonus
0            2      0
1            3      0
2            7   7400
3            8      0
4            9   7700